<button mat-button mat-raised-button color="accent" (click)="goToAddCommerce()">
    <mat-icon>add</mat-icon> Nuevo
</button>
<mat-paginator #paginator [length]="dataSource.totalRecords" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%; text-align: center;">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="text-align:center;">Nro.</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef style="text-align:center;">Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>
    <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef style="text-align:center;">Dirección</th>
        <td mat-cell *matCellDef="let element">{{element.body}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="text-align:center;">Acciones</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent">
                <mat-icon (click)="removeCommerce(element)">delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>